{% extends "base.html" %}

{% block contenido %}
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Menú</h5>
                <ul class="nav flex-column nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('cliente_dashboard') }}">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('direcciones') }}">Direcciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('tarjeta_credito') }}">Tarjeta de crédito</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('autentificacion') }}">Autentificación</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('ordenes') }}">Órdenes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Salir</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Agregar tarjeta de crédito</h5>
                <p>Aquí puedes agregar una nueva tarjeta de crédito</p>
                <div class="form-group">
                    <label for="numero_tarjeta">Número de tarjeta</label>
                    <input type="text" id="numero_tarjeta" class="form-control" placeholder="Ingrese el número de tarjeta">
                </div>
                <div class="form-group">
                    <label for="nombre_tarjeta">Nombre impreso en la tarjeta</label>
                    <input type="text" id="nombre_tarjeta" class="form-control" placeholder="Ingrese el nombre impreso en la tarjeta">
                </div>
                <div class="form-group">
                    <label for="fecha_vencimiento">Fecha de vencimiento</label>
                    <input type="month" id="fecha_vencimiento" class="form-control" placeholder="Ingrese la fecha de vencimiento">
                </div>
                <div class="form-group">
                    <label for="codigo_seguridad">Código de seguridad</label>
                    <input type="text" id="codigo_seguridad" class="form-control" placeholder="Ingrese el código de seguridad">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Agregar Tarjeta</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}