{% extends 'base.html' %}

{% block contenido %}
  <h2>Autentificación</h2>

  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Menú</h5>
          <ul class="nav flex-column nav-pills">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('cliente_dashboard') }}">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('direcciones') }}">Direcciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('tarjeta_credito') }}">Tarjeta de crédito</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('autentificacion') }}">Autentificación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('ordenes') }}">Órdenes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Salir</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-10 offset-lg-1"> <!-- Ajusta el ancho y el offset -->
        <div class="card" style="height: 400px;"> <!-- Ajusta la altura -->
          <div class="card-body">
            <h5 class="card-title">Autentificación</h5>
            <p>Aquí se mostrarán los datos de autentificación del usuario</p>
            <div class="form-group">
              <label for="current_password">Contraseña actual:</label>
              <input type="password" id="current_password" value="********" disabled>
            </div>
            <div id="new_password_section" style="display: none;">
              <div class="form-group">
                <label for="new_password">Nueva contraseña:</label>
                <input type="password" id="new_password" class="form-control">
              </div>
              <div class="form-group">
                <label for="confirm_password">Confirmar nueva contraseña:</label>
                <input type="password" id="confirm_password" class="form-control">
              </div>
              <a href="#" class="btn btn-primary">Modificar contraseña</a>
            </div>
            <a href="#" id="edit_password_btn" class="btn btn-primary">Editar contraseña</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.getElementById('edit_password_btn').addEventListener('click', function() {
      document.getElementById('new_password_section').style.display = 'block';
      this.style.display = 'none'; // Oculta el botón de editar
    });
  </script>
{% endblock %}