<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.titulo }}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('index')}}">Mi Tienda</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index')}}">Index</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('contacto')}}">Contacto</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('cliente_dashboard') }}">Mi Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Salir</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('login_cliente')}}">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('registro')}}">Registro</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    <div class="container">
        {% block contenido %}
        {% endblock %}
    </div>
    
    <!-- jQuery y Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>

<footer class="footer text-center">
    <div class="container">
        <p>&copy; 2023 Mi Tienda</p>
    </div>
</footer>