{% extends './base.html' %}

{% block contenido %}
<!-- Formulario de login -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Iniciar Sesión</h2>
                    <form method="POST" class="form-horizontal" action="{{ url_for('login_cliente') }}">
                        <!-- Campo oculto para evitar ataques CSRF -->
                        {{ form.hidden_tag()|safe }}

                        <!-- Campo de Usuario o correo electrónico -->
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="username_or_correo" class="form-control-label">Usuario o correo electrónico:</label>
                                {{ form.username_or_correo(class="form-control") }}
                                <!-- Mensaje de error para el campo de usuario o correo electrónico -->
                                {% if form.username_or_correo.errors %}
                                    <ul class="errors">
                                        {% for error in form.username_or_correo.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Campo de Contraseña -->
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="password" class="form-control-label">Contraseña:</label>
                                {{ form.password(class="form-control") }}
                                <!-- Mensaje de error para el campo de contraseña -->
                                {% if form.password.errors %}
                                    <ul class="errors">
                                        {% for error in form.password.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Botón de enviar -->
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}