{% extends './base.html' %}

{% block contenido %}
    <!-- Formulario de registro -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">{{ data.titulo }}</h2>
                        <form method="POST" class="form-horizontal">
                            <!-- Campo oculto para evitar ataques CSRF -->
                            {{ form.hidden_tag() }}

                            <!-- Campo de Usuario -->
                            <div class="form-group">
                                <label for="username" class="form-control-label">Usuario:</label>
                                {{ form.username(class="form-control") }}
                                <!-- Mensaje de error para el campo de usuario -->
                                {% if form.username.errors %}
                                    <ul class="errors">
                                        {% for error in form.username.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>

                            <!-- Campo de nombre -->
                            <div class="form-group">
                                <label for="nombre" class="form-control-label">Nombre:</label>
                                {{ form.nombre(class="form-control") }}
                                <!-- Mensaje de error para el campo de nombre -->
                                {% if form.nombre.errors %}
                                    <ul class="errors">
                                        {% for error in form.nombre.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>

                            <!-- Campo de apellido -->
                            <div class="form-group">
                                <label for="apellido" class="form-control-label">Apellido:</label>
                                {{ form.apellido(class="form-control") }}
                                <!-- Mensaje de error para el campo de apellido -->
                                {% if form.apellido.errors %}
                                    <ul class="errors">
                                        {% for error in form.apellido.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>

                            <!-- Campo de correo electrónico -->
                            <div class="form-group">
                                <label for="correo" class="form-control-label">Correo electrónico:</label>
                                {{ form.correo(class="form-control") }}
                                <!-- Mensaje de error para el campo de correo electrónico -->
                                {% if form.correo.errors %}
                                    <ul class="errors">
                                        {% for error in form.correo.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="telefono" class="form-control-label">Teléfono:</label>
                                <div class="input-group">
                                    {{ form.telefono(class="form-control", placeholder="Número de teléfono") }}
                                </div>
                                <!-- Mensaje de error para el campo de teléfono -->
                                {% if form.telefono.errors %}
                                    <ul class="errors">
                                        {% for error in form.telefono.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>

                            <!-- Campo de documento de identidad -->
                            <div class="form-group">
                                <label for="documento_identidad" class="form-control-label">Documento de identidad:</label>
                                {{ form.documento_identidad(class="form-control") }}
                                <!-- Mensaje de error para el campo de documento de identidad -->
                                {% if form.documento_identidad.errors %}
                                    <ul class="errors">
                                        {% for error in form.documento_identidad.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>

                            <!-- Campo de género -->
                            <div class="form-group">
                                <label for="genero" class="form-control-label">Género:</label>
                                {{ form.genero(class="form-control") }}
                                <!-- Mensaje de error para el campo de género -->
                                {% if form.genero.errors %}
                                    <ul class="errors">
                                        {% for error in form.genero.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>

                            <!-- Campo de fecha de nacimiento -->
                            <div class="form-group">
                                <label for="fecha_nacimiento" class="form-control-label">Fecha de nacimiento:</label>
                                {{ form.fecha_nacimiento(class="form-control", type="date") }}
                                <!-- Mensaje de error para el campo de fecha de nacimiento -->
                                {% if form.fecha_nacimiento.errors %}
                                    <ul class="errors">
                                        {% for error in form.fecha_nacimiento.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
	<!-- Campo de contraseña -->
                            <div class="form-group">
                                <label for="password" class="form-control-label">Contraseña:</label>
                                {{ form.password(class="form-control") }}
                                <!-- Mensaje de error para el campo de contraseña -->
                                {% if form.password.errors %}
                                    <ul class="errors">
                                        {% for error in form.password.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>

                            <!-- Campo de confirmación de contraseña -->
                            <div class="form-group">
                                <label for="confirm_password" class="form-control-label">Confirmar contraseña:</label>
                                {{ form.confirm_password(class="form-control") }}
                                <!-- Mensaje de error para el campo de confirmación de contraseña -->
                                {% if form.confirm_password.errors %}
                                    <ul class="errors">
                                        {% for error in form.confirm_password.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>

                            <!-- Botón de envío -->
                            <div class="form-group">
                                <div class="d-flex justify-content-center">
                                    {{ form.submit(class="btn btn-primary") }}
                                </div>
                            </div>

                            <!-- Enlace para login -->
                            <p class="text-center">¿Ya tienes cuenta? <a href="{{ url_for('login_cliente') }}" style="text-decoration: none;">Iniciar sesión</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
